body {
    background-color: #ffffff;
    font-family: 'Airstrip Four';
}
header {
    margin: 0;
    padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555555;
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 162, 162);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #d3d3d3;

}





